<div class="panel" ng-class="classPanel">
    <div class="panel-heading" ng-if="exibirHeader !== false">
        <div ng-transclude="header">
            <i class="fa fa-edge"></i>
            <span>Título Defautl</span>
        </div>
    </div>
    <div class="panel-body">
        <div ng-transclude="body">

            <label class="control-label">teste</label>
            <input class="form-control">

        </div>
    </div>
    <div class="panel-footer" ng-if="exibirFooter !== false">
        <div ng-transclude="footer">
            <label class="control-label">footer </label>

        </div>
    </div>
</div>
